{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h2>About Us</h2>
        <h4>Class: IS219</h4>
        <h4>Topic: Flask App Project</h4>
        <h4>Site Collaborator: Jeffrey Galicia</h4>
        <p>
            Vivamus a neque ligula. Ut sodales elit sed pretium sagittis. Nam in luctus erat.
            Nulla ex nibh, lobortis id ipsum eget, egestas porta elit. Etiam a auctor felis. Curabitur dignissim placerat risus.
            Nullam porta ipsum quis turpis condimentum, at elementum ligula commodo. Nunc aliquam sollicitudin felis at porta.
            Nunc quis ultricies ligula. Nam congue nisl nec tincidunt hendrerit. Suspendisse augue ex, suscipit in quam a,
            ullamcorper tempus lorem. Curabitur viverra a nibh ut commodo. Pellentesque non sem dapibus, efficitur ligula id,
            pulvinar tellus. Quisque eget lobortis mauris.
        </p>
    </div>

    {{ mymessage }}
{% endblock %}