{% extends 'base.html' %}

{% block header %}
  <h1 class="display-3">{% block title %}New Entry{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <form method="post">
            <div>
                <label for="title">Title</label>
                <input name="title" class="form-control" id="title" value="{{ request.form['title'] }}" required>
            </div>
            <div>
                <label for="body">Body</label>
                <textarea name="body" class="form-control" id="body">{{ request.form['body'] }}</textarea>
            </div>

            <button type="submit" class="btn btn-success" value="Save">Save Entry</button>
        </form>
    </div>
{% endblock %}
